<strong>Olá {{ organizador }}!</strong>
<p>Foi detectado uma inscricao no {{ meetup }}</p>
<p>Dadaos a baixo da inscrição:</p>
<p>
  <strong>Nome: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>
